<head>
<style>
.user_list{
	margin-left: 5em;
}



.form{
	padding: 5px 0px 5px 0px;
}

</style>

<script>
function showForm() {
	var sel = document.getElementById("options").value;
	if(sel == "mk_folder"){
		document.getElementById("folder_name").hidden = false;
		document.getElementById("folders").hidden = true;
	}
	else if(sel == "move"){
		document.getElementById("folder_name").hidden = true;
		document.getElementById("folders").hidden = false;
	}
	else{
		document.getElementById("folder_name").hidden = true;
		document.getElementById("folders").hidden = true;
	}
}
</script>
</head>

<body>

<h1>All Users in System</h1>

<form id="action" method="post">{% csrf_token %}
<ul>
    {% for user in object_list.all %}
		<li>
        <input type="checkbox" name="checks[]" value="{{ user.username }}" form="action">
        {{ user.username }} <br> Admin:{{ user.profile.is_admin }} <br> Suspended:{{ user.profile.is_suspended }} <br> <br>
		</li>
	{% endfor %}
	</ul>
        <select id="options" name="action_taken" form="action">
		    <option value="add_group">Add/Remove from Group</option>
		    <option value="make_admin">Make Admin</option>
		    <option value="suspend_user">Suspend User</option>
        </select>
    <input type="submit" form="action" value="Action" onclick="this.form.submit()">
</form>

</body>