<head>

<style>
.report_desc{
	margin-left: 3em;
}
</style>
<script>
function showForm() {
	var sel = document.getElementById("option").value;
	if(sel == "Add"){
		document.getElementById("add").hidden = false;
		document.getElementById("remove").hidden = true;
        document.getElementById("sub").value = "Add";
	}
	else{
		document.getElementById("remove").hidden = false;
		document.getElementById("add").hidden = true;
        document.getElementById("sub").value = "Remove";
	}
}
</script>
</head>

<body>
{% for report in object_list %}
	<h1>{{ report.short_desc }} </h1>
	<p>
		{{ report.long_desc }}
	</p>
	{% if report.location %}
		Location: {{ report.location }}
	{% endif %}
	<p>
	Tags: <i>{% for key in report.report_keyword_set.all %}
			{{key.keyword}}
	{% empty %}
		None
	{% endfor %}
	</i></p>
	<br>
	<h3>Files:</h3>
	{% for f in report.report_file_set.all %}
	<li class="report_desc">
		{{ f.filename }}
	</li>
	{% endfor %}
	<p>
	{% if report.private %}
	<i>This report is private</i>
	<br>
	<br>
	{% if editable %}
	<p>
	<form id="add_user" action="/report/{{user_name}}/{{report.id}}/" method="post">{% csrf_token %}
	<select id="option" name="action" onchange="showForm()"><option name="add">Add</option><option name="remove">Remove</option></select>
    <span id="add">a user to this report: <input name="user_permission" type="text"></span>
    <span id="remove" hidden='true'>a user from this report: 
    <select name="user_removed">
        {% for user in user_permissions %}
        <option name="{{user.id}}">{{user.username}}</option>
        {% endfor %}
    </select>
    </span>
    <input id="sub" type="submit" value="Add">
	</form>
	</p>
	{% endif %}
	{% endif %}
	</p>
	
{% empty %}
	No report with this ID exists.
{% endfor %}

	<br>
	<a href="/upload/report">Upload a report</a>
    <br>
    <a href="/upload/search">Search for a report</a>
	<br>
	<a href="/accounts/{{ user_name|default:'Anonymous' }}/reports">My reports</a>
	<br>
	<a href="/accounts/logout">Log out</a>
</body>